
/* 初始化一些样式 */
body{
    background-color: #f7f7f7;
    font-family: "Microsoft YaHei UI","Microsoft YaHei UI Light";
}

button{
    border-radius: 0 !important;
}

a{
    border-radius: 0 !important;
}

input{
    border-radius: 0 !important;
}

/* 自定义样式 */

.jumb-block{
    background-color: #66afe9;
    padding-top: 88px;
}

.font1{
    color: gray;
    font-size: 11px;
}

.blog-block{
    padding: 0px 10px;
    margin: 0 10px 10px 10px;
    background-color: white;
}

.blog-block-page{
    padding: 0px 10px;
    margin: 0 10px 10px 10px;
}

.my-info{
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin: 0 10px 10px 10px;
}

.my-avatar{
    margin: 0px auto;
    width: 80px;
    margin: 30px 0px;
}

.footer{
    width:100%;
    background-color: #222;
    margin: 0px;
    padding: 10px;
    color: white;
    position: fixed !important;
    bottom: 0px;
    position: absolute;
}

.end-text{
    font-size: 12px;
    color: #e1e1e1;
}

/* 重新定义按钮颜色
.btn-primary{
    background-color: #66afe9 !important;
}*/

.top-60{
    margin-top: 60px;
}


/*
markdown美化
*/
.markdown-body {
    padding: 45px;
}

pre{
    background-color: #FFFFFF !important;
}