
/* 初始化一些样式 */
body{
    background-color: #f7f7f7;
    font-family: "Microsoft YaHei UI","Microsoft YaHei UI Light";
}

.button{
    font-family: "Microsoft YaHei UI","Microsoft YaHei UI Light" !important;
}

img{
    max-width: 100%;
}

button{
    border-radius: 0 !important;
}
a{
    border-radius: 0 !important;
}

.blog-block h2 a{
    color: black;
}

.blog-block h2 a:hover{
    text-decoration: none;
    color: black;
}

input{
    border-radius: 0 !important;
}

h2{
    margin-top: 10px;
}

@media (min-width: 992px){
    .line-height-50{
        line-height: 50px;
    }
}

.h2title{
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.h2title:after{
    content: "";
    width: 90px;
    height: 1px;
    background: #1b9af7;
    position: absolute;
    left: 0;
    bottom: -1px;
}

@media (min-width: 992px){
    .my-info{
        margin-left: 10px;
    }
}

/* 自定义样式 */

.navbar-custom{
    background-color: white;
    border: 0px solid black;
    border-top: 4px solid #1b9af7;
    height: 80px;
    padding-top: 15px;
    box-shadow: 0px 1px 9px 1px #cfcfcf;
    margin-bottom: 50px;
    border-radius: 0px !important;
}

.navbar-inverse .navbar-brand{
    color: #303030;
}

.navbar-inverse .navbar-brand:hover{
    color: #1b9af7;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background-color: white;
}
.navbar-inverse .navbar-form{
    border: 0px solid black;
}
.jumb-block{
    color: white;
    padding: 150px 0px;
    background: url("/resources/image/back4.jpg") fixed;
}


@media (min-width: 1200px) {
    .jumb-block{
        line-height: 50px;
        padding: 150px 300px;
    }
    .jumb-container{
        padding: 0px 100px;
    }
}

@media (min-width: 1300px) {
    .jumb-container{
        padding: 0px 150px;
    }
}

@media (min-width: 1500px) {
    .jumb-container{
        padding: 0px 200px;
    }
}

.add-padding-left-right{
    padding-left: 15px;
    padding-right: 15px;
}

.sec-title{
    color: gray;
    font-size: 11px;
}

.sec-body{
    color: #1b9af7;
    font-size: 20px;
}


.blog-block{
    padding: 35px;
    background-color: white;
    margin-bottom: 35px;
}

.blog-block p{
    text-indent: 2em;
}



.blog-block-all{
    padding: 35px;
    background-color: white;
    margin-bottom: 35px;
}

.blog-block-all p{
    padding-bottom: 10px;
}

.blog-block-page{
    padding: 0px 10px;
    margin: 0 10px 10px 10px;
}

.info-block{
    padding: 35px;
    background-color: white;
    margin-bottom: 35px;
}

.my-info{
    background-color: white;
    padding: 0px 10px 10px 10px;
}

.add-padding{
    padding-left: 10px;
    padding-right: 10px;
}

.my-avatar{
    margin: 0px auto;
    width: 80px;
    margin: 30px 0px;
}

.footer{
    width:100%;
    background-color: #222;
    margin: 0px;
    padding: 10px;
    color: white;
}

.footer1{
    background-color: #303030;
    margin-top: 10px;
}

.footer-container{
    padding-bottom: 20px;
    padding-top: 20px;
}
.end-text{
    font-size: 12px;
    color: #e1e1e1;
}


.btn{
    border: 0px solid black;
}

/* 重新定义输入框的大小 */
.form-control{
    height: 32px;
}


.top-60{
    margin-top: 60px;
}


/*
markdown美化
*/
.markdown-body {
    padding: 45px;
}

pre{
    background-color: #474949 !important;
}
/*
 * 定义一些颜色
 */
.text-origin{
    color: #fa4b2a;
}


/* Button */
.button-small{
    height: 32px;
}



/* geetest */
.show {
    display: block;
}
.hide {
    display: none;
}

.language-text{
    color: #d1d9e1;
}