<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置数据库相关参数 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

<!--    <beans:property name="timeBetweenEvictionRunsMillis" value="120" />
    <beans:property name="testWhileIdle" value="true" />
    <beans:property name="validationQuery" value="select 1 from user" />-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>

        <!-- 系统初始化连接数 -->
        <property name="initialPoolSize" value="10"/>
        <!-- 最大连接数-->
        <property name="maxPoolSize" value="30"/>
        <!-- 最小连接数-->
        <property name="minPoolSize" value="10"/>
        <!-- 关闭连接后不自动commit -->
        <property name="autoCommitOnClose" value="false"/>
        <!-- 获取连接超时时间 -->
        <property name="checkoutTimeout" value="5000"/>
        <!-- 连接失败尝试次数-->
        <property name="acquireRetryAttempts" value="30"/>
        <!--最大空闲时间,600秒（10分钟）内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="600"/>
        <!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
        <property name="acquireIncrement" value="3"/>
        <!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
        <property name="idleConnectionTestPeriod" value="60"/>
        <!-- 每次从pool内checkout连接时测试有效性（同步操作）
            程序每次数据库调用都连接有效性，若无效关闭此连接并剔除出pool，
           从pool内取其他连接，慎用，会造成至少多一倍的数据库调用。Default：false -->
        <property name="testConnectionOnCheckout" value="false" />
        <!--两次连接中间隔时间，单位毫秒。Default: 1000 -->
        <property name="acquireRetryDelay" value="1000"/>
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBatis全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 扫描Entity包，使用别名 -->
        <property name="typeAliasesPackage" value="com.lzx2005.entity"/>
        <!-- 扫描sql配置文件:mapper目录 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        
    </bean>


    <!-- 配置扫描DAO接口包，注入到Spring容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入SqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 给出需要扫描的DAO接口包 -->
        <property name="basePackage" value="com.lzx2005.dao"/>
    </bean>
</beans>